<div ng-cloak id="cards-container" ng-hide="game.state === 'game ended' || game.state ==='game dissolved'">

  <div id="cards" class='hand mdl-grid'>

    <span ng-show="winnerPicked()"></span>
    <div ng-style="{'cursor':'pointer'}" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col  mdl-cell--4-col-phone mdl-cell--4-col-tablet" id='answers' ng-click="pickCard(card)" ng-hide="showTable || isCzar()" ng-repeat="card in game.players[game.playerIndex].hand"
      ng-animate="{enter:'animated fadeInUp', leave: 'animated fadeInOut'}" style="padding: 10px;border-radius:5px;min-height:217px;">
      <div class="the-card">
        <div class="transbox">
          <p ng-bind-html-unsafe="card.text"></p>
          <span id='selection-number' ng-show="showFirst(card)"> 1 </span>
          <span id='selection-number' ng-show="showSecond(card)"> 2 </span>
        </div>
      </div>
    </div>
    <div ng-repeat="answer in game.table">
      <div ng-style="pointerCursorStyle()" id='table' ng-click="pickWinning(answer)" ng-show="showTable || isCzar()" ng-repeat="card in answer.card" ng-animate="{enter:'animated bounceInLeft'}" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col  mdl-cell--4-col-phone mdl-cell--4-col-tablet"
        style="background-color:{{winningColor($parent.$index)}}; min-width: 197px; padding: 10px;border-radius:5px;min-height:217px;">
        <div class="the-card">
          <div class="transbox">
            <p ng-bind-html-unsafe="card.text"></p>
            <span id='selection-number' ng-show="firstAnswer($index)"> 1 </span>
            <span id='selection-number' ng-show="secondAnswer($index)"> 2 </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="info-container" ng-show="game.state === 'awaiting players'">
  <div id="inner-info">
    <div id="lobby-how-to-play">How To Play</div>
    <ol id="oh-el">
      <li>Each player begins with, and will always have, 10 white answer cards.</li>
      <li>For each round, one player is randomly chosen as the Card Czar.</li>
      <li>Everyone else answers the black question card by clicking on the answer card they want to use.</li>
      <li>The Card Czar then picks a favorite answer, and whoever played that answer wins the round.</li>
      <li>*Want to adorn your avatar with a glorious crown? Donate to charity after the game!</li>
    </ol>
  </div>
</div>
<div id="game-end-container" ng-show="game.state === 'game ended' || game.state ==='game dissolved'">
  <div id="inner-info-exit">
    <div class="game-end-answer-text" ng-show="game.state ==='game dissolved' && game.gameWinner === -1" class="mdl-cell mdl-cell--12-col" style="padding: 20px">
      <h2>What would you like to do now?</h2>
      You might consider donating to charity to atone for the horrifying answers you've submitted. Donating will also place a lovely crown on your avatar's head.
    </div>
    <div class="game-end-answer-text" ng-show="game.state === 'game ended' || game.gameWinner !== -1" class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <h2>What would you like to do now?</h2>
        <div id='inner-text-container' class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col">
            <p>Help yourself to another game or help a child in need? Donating will also place a lovely crown on your avatar's head.</p>
            <a href='/#!/app'>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button-default" id="join-new-game" ng-click="game.joinGame('joinNewGame')">
                Join a New Game
              </button>
            </a>
            <a href='/#!/play-with'>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="exit-match">
              Return to Lobby
              </button>
            </a>
          </div>
          <div class="mdl-cell mdl-cell--6-col">
            <div id="charity-widget-container">
              <!-- This is real -->
              <a href="http://www.crowdrise.com" id="crowdriseStaticLink-fundraiser-121142" title="Fundraising Websites on Crowdrise">Fundraising Websites - Crowdrise</a>
              <script type="text/javascript" src="https://www.crowdrise.com/widgets/donate/fundraiser/121142/?callback=userDonationCb"></script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="czar-blank-container" ng-show="isCzar() && game.table.length===0 && game.state !== 'game dissolved' && game.state !== 'awaiting players'" style="padding:20px">
  <div id="czar-blank-inner">
    You are the Card Czar. <br>
    <span id="smaller-text">Players are choosing their answers. Prepare to select a winner.</span>
  </div>
  <div id='charity-fact-container'>
    <div id='charity-fact-tagline'>Did you know?</div>

    <div id='charity-fact'>
      {{ makeAWishFact }}
    </div>

    <div id='charity-logo-container'>
      <img src='https://res.cloudinary.com/iykyvic/image/upload/v1482308825/make-a-wish-logo_xz7buw.png' />
    </div>

  </div>
</div>