<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" ng-controller="GameController">
  <div class="cfh-header mdl-layout__header mdl-layout__header--waterfall" style="background-color:#46B6AC;color: #000">
    <style>
      .cfh-header .mdl-navigation__link {
        color: #000;
      }
    </style>
    <div class="mdl-layout__header-row">
      <span class="cfh-title mdl-layout-title text-logo">
        <a href="/" style="text-decoration: none; color: #fff">Cards For Humanity</a>
      </span>
      <!-- Add spacer, to align navigation to the right in desktop-->
      <div class="cfh-header-spacer mdl-layout-spacer"></div>
      <!-- Navigation-->
      <div class="cfh-navigation-container">
        <nav class="cfh-navigation mdl-navigation">
          <a id="home" href="/#!/#top" class="mdl-navigation__link mdl-typography--text-uppercase">
            <i class="material-icons">home</i>
            <div class="mdl-tooltip" data-mdl-for="home">
              <strong>Home</strong>
            </div>
          </a>
          <a href="#" id='abandon-game-button' ng-click="abandonGame()" class="mdl-navigation__link mdl-typography--text-uppercase">
            <i class="material-icons" style="background-color:#fff;border-radius:100%">&#xE5C9;</i>
            <div class="mdl-tooltip" data-mdl-for="abandon-game-button">
              Abandon <strong>Game</strong>
            </div>
          </a>
          <span ng-show="userName">
            <a id="signout" href="/signout" class="mdl-navigation__link mdl-typography--text-uppercase">
              <i class="material-icons">&#xE879;</i>
              <div class="mdl-tooltip" data-mdl-for="signout">
                <strong>Signout</strong>
              </div>
            </a>
          </span>
        </nav>
      </div>
      <span class="android-mobile-title mdl-layout-title text-logo-mobile">
        <a href="/" style="text-decoration: none; color: #FFF;font-family: Montserrat">Cards For Humanity</a>
        <a href="#" id ='abandon-button' ng-click="abandonGame()">
          <i class="material-icons" style="background-color:#fff;border-radius:100%">&#xE5C9;</i>
          <div class="mdl-tooltip" data-mdl-for="abandon-button">
            Abandon <strong>Game</strong>
          </div>
        </a>
        <span ng-show="userName">
          <a id="signout" href="/signout" class="mdl-navigation__link mdl-typography--text-uppercase">
            <i class="material-icons">&#xE879;</i>
            <div class="mdl-tooltip" data-mdl-for="signout">
              <strong>Signout</strong>
            </div>
          </a>
        </span>
      </span>
    </div>
  </div>
  <div class="cfh-drawer mdl-layout__drawer">
    <nav class="mdl-navigation">
      <a href="/#!/#top" class="mdl-navigation__link">HOME</a>
      <a href="#" id='abandon-game-button' ng-click="abandonGame()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Abandon Game</a>
      <a ng-show="userName" href="/signout" class="mdl-navigation__link mdl-typography--text-uppercase">SIGN OUT</a>
    </nav>
  </div>
  <div class="cfh-content mdl-layout__content" style="margin-top: 60px">
    <div id="app-container" style="margin: 0 auto">
      <div class="game mdl-grid">
        <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet time-remaining mdl-card mdl-shadow--4dp">
              <timer></timer>
            </div>

            <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-tablet question-box mdl-card mdl-shadow--4dp">
              <question></question>
            </div>

            <div class="mdl-cell mdl-cell--12-col answer-box">
              <div class="mdl-card mdl-shadow--4dp game-cards card-for-game">
                <answers></answers>
              </div>
            </div>
          </div>
        </div>

        <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone players">
          <player></player>
        </div>

      </div>

      <chat></chat>
    </div>
  </div>
</div>
<dialog class="mdl-dialog" id="showMyDialog">
  <div class="mdl-dialog__content">
    <p>You are about to start a game that will be saved</p>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button proceed">PROCEED</button>
    <button type="button" class="mdl-button close" ng-click="dialog.close();">CANCEL</button>
  </div>
</dialog>