<div class="chatpanel">
  <div class="panel-heading">
    <i class="material-icons">forum</i><span class="mdl-badge" data-badge="{{chat.unreadMessageCount}}" ng-show="chat.unreadMessageCount > 0">new message</span>
    <a href="" class="retract_button" ng-click="showChat()"><i class="material-icons">expand_{{chat.chatWindowVisible ? 'more': 'less' }}</i></a>
  </div>
  <div ng-show="chat.chatWindowVisible">
    <div id="results" class="chatthread">
      <ul class="demo-list-item mdl-list">
        <li ng-repeat="message in chat.messageArray" class="message">
          <div class="chat_body">
            <span class="mdl-list__item-primary-content">
              <strong class="username">{{message.username}}</strong>
              <small class="text-muted time-content">{{message.time}}</small></b></span>
            <p class="message_content">{{message.text}}</p>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <div class="chatinput">
        <input data-emojiable="true" id="text" type="text" class="mdl-textfield__input chat_message" placeholder="Enter Message"
          ng-model="chatMessage" ng-keypress="keyPressed($event)" />
      </div>
    </div>
    <a class="send_icon" href="" onclick="angular.element(document.getElementById('text')).scope().sendMessage(document.getElementById('text').value)"><i class="material-icons">send</i></a>
  </div>
  <script src="/js/emoji-init.js"></script>