<div class="chatpanel">                
  <div class="panel-heading" style="background: black; color: white">
    <span class="material-icon">Mood</span> Chat <span class="message_notification" ng-show="chat.unreadMessageCount > 0">{{chat.unreadMessageCount + ' new message'}}</span>
      <div class="btn-group pull-right">
        <a type="button" class="btn btn-default btn-xs" ng-click="showChat()">
          <span class="glyphicon glyphicon-chevron-{{chat.chatWindowVisible?'down': 'up'}}"></span>
        </a>
      </div>
  </div>
  <div ng-show="true">
  <div id="results" class="chatthread">
    <ul class="demo-list-item mdl-list">
      <li ng-repeat="message in chat.messageArray" class="chat">
        <div class="chat-body clearfix">
          <span class="mdl-list__item-primary-content">
            <b>{{message.username}} </b>
            <small class="text-muted">{{message.time}}</small></span>
          </div>
              <p>{{message.text}}</p>
          </div>
        </li>
    </ul>
  </div>
  <div>
    <div class="chatinput mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
          <input id="text" type="text" class="mdl-textfield__input" placeholder="Enter Message" ng-model="chatMessage" ng-keypress="keyPressed($event)"/>
        </div>
      </div>
    </div>
  </div>
</div>
