<div id="main-bod" ng-controller="IndexController">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" ng-controller="IndexController">
    <div class="cfh-header mdl-layout__header mdl-layout__header--waterfall">
      <div class="mdl-layout__header-row">
        <span class="cfh-title mdl-layout-title text-logo">
          <a href="/" style="text-decoration: none; color: #46B6AC">Cards For Humanity</a>
        </span>
        <!-- Add spacer, to align navigation to the right in desktop-->
        <div class="cfh-header-spacer mdl-layout-spacer"></div>
        <!-- Navigation-->
        <div class="cfh-navigation-container">
          <nav class="cfh-navigation mdl-navigation">
            <a href="/#!/#top" class="mdl-navigation__link mdl-typography--text-uppercase">HOME</a>
            <span ng-show="userName">
              <a href="/signout" class="mdl-navigation__link mdl-typography--text-uppercase">SIGN OUT</a>
            </span>
          </nav>
        </div>
        <span class="android-mobile-title mdl-layout-title text-logo-mobile">
          <a href="/" style="text-decoration: none; color: #46B6AC">Cards For Humanity</a>
        </span>
      </div>
    </div>
    <div class="cfh-drawer mdl-layout__drawer">
      <nav class="mdl-navigation">
        <a href="/#!/#top" class="mdl-navigation__link">HOME</a>
        <a ng-if="userName" href="/signout" class="mdl-navigation__link mdl-typography--text-uppercase">SIGN OUT</a>
      </nav>
    </div>
    <section class="play-with">
      <main class="mdl-layout__content">
        <!-- Landing Start -->
        <div class="wpb-teaser parallax-background" id="homer">
          <div class="background-opacity"></div>
          <div class="modified-container">
            <div class="row" id="main-text">
              <!-- Teaser Text Start -->
              <div id="landing-logo">
                <h2 id="slogan" style="text-align: center">Choose an Avatar!</h2>
                <p id="create" style="text-align: center">You're almost there! Just pick an avatar from the options below!</p>

                <div class="sign-body">
                  <div class="more-sign">
                    <form class="signup form-horizontal" action="/users/avatars" method="post">
                      <div id="contain-avatars">
                        <ul class="avatar-list">
                          <li ng-repeat="avatar in avatars" class="avatars ng-scope">
                            <input name="avatar" type='radio' value="{{$index}}">
                            <img ng-src="{{avatar}}">
                          </li>
                        </ul>
                      </div>
                      <div class="form-actions">
                        <p style="text-align: center;">
                          <button style="width: 190px; margin-top: 20px" id="sign-up-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type='submit'>Let's Go!</button>
                        </p>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </section>
    <div class="cfh-content mdl-layout__content">

    </div>
  </div>
</div>