<style>
  body {
    background-color: #ddd;
  }
</style>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" ng-controller="GameTourController">
  <div class="cfh-header mdl-layout__header mdl-layout__header--waterfall" style="background-color:#46B6AC;color: #000">
    <style>
      .cfh-header .mdl-navigation__link {
        color: #000;
      }
    </style>
    <div class="mdl-layout__header-row">
      <span class="cfh-title mdl-layout-title text-logo">
        <a href="/" style="text-decoration: none; color: #fff">Cards For Humanity</a>
      </span>
      <!-- Add spacer, to align navigation to the right in desktop-->
      <div class="cfh-header-spacer mdl-layout-spacer"></div>
      <!-- Navigation-->
      <div class="cfh-navigation-container">
        <nav class="cfh-navigation mdl-navigation">
          <a id="home" href="/#!/#top" class="mdl-navigation__link mdl-typography--text-uppercase">
            <i class="material-icons">home</i>
            <div class="mdl-tooltip" data-mdl-for="home">
              <strong>Home</strong>
            </div>
          </a>
          <a ng-show="userName" href id="notifications" class="mdl-navigation__link mdl-typography--text-uppercase" ng-click="openNotifications()">
            <span ng-show="friends.gameInvites.length > 0" class="material-icons mdl-badge mdl-badge--overlap" data-badge="{{friends.gameInvites.length}}">
              notifications
            </span> 
            <i ng-hide="friends.gameInvites.length > 0" class="material-icons">notifications</i>
            <div class="mdl-tooltip" data-mdl-for="notifications">
              <strong>Notifications</strong>
            </div>
          </a>
          <a href ng-show="userName" id="requests" class="mdl-navigation__link mdl-typography--text-uppercase" ng-click="openFriends()">
            <i class="material-icons">people</i>
            <div class="mdl-tooltip" data-mdl-for="requests">
              <strong>Send Invites</strong>
            </div>
          </a>
          <a href="#" id='abandon-game-button' ng-click="abandonGame()" class="mdl-navigation__link mdl-typography--text-uppercase">
            <i class="material-icons">&#xE5C9;</i>
            <div class="mdl-tooltip" data-mdl-for="abandon-game-button">
              Abandon <strong>Game</strong>
            </div>
          </a>
          <a ng-if="userName" id="signout" href="/signout" class="mdl-navigation__link mdl-typography--text-uppercase">
            <i class="material-icons">&#xE8AC;</i>
            <div class="mdl-tooltip" data-mdl-for="signout">
              <strong>Signout</strong>
            </div>
          </a>
        </nav>
      </div>
      <div class="android-mobile-title mdl-layout-title text-logo-mobile">
        <a href="/" style="text-decoration: none; color: #FFF;font-family: Montserrat; float:left; margin-left:15px; display: inline-block">CFH</a>
        <a ng-show="userName" id="signoutmob" href="/signout" style="display: inline-block;float: right">
          <i class="material-icons">&#xE8AC;</i>
          <span class="mdl-tooltip" data-mdl-for="signoutmob">
            <strong>Signout</strong>
          </span>
        </a>
        <a href="#" id='abandon-buttonmob' ng-click="abandonGame()" style="display: inline-block;float: right">
          <i class="material-icons">&#xE5C9;</i>
          <span class="mdl-tooltip" data-mdl-for="abandon-buttonmob">
            Abandon <strong>Game</strong>
          </span>
        </a>
        <a href ng-show="userName" id="requestsmob" ng-click="openFriends()" style="display: inline-block;float: right">
          <i class="material-icons">people</i>
          <div class="mdl-tooltip" data-mdl-for="requestsmob">
            <strong>Send Invites</strong>
          </div>
        </a>
        <a ng-show="userName" href id="notificationsmob" ng-click="openNotifications()" style="display: inline-block;float: right">
          <span ng-show="friends.gameInvites.length > 0" class="material-icons mdl-badge mdl-badge--overlap" data-badge="{{friends.gameInvites.length}}">
            notifications
          </span> 
          <i ng-hide="friends.gameInvites.length > 0" class="material-icons">notifications</i>
          <div class="mdl-tooltip" data-mdl-for="notificationsmob">
            <strong>Notifications</strong>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="cfh-drawer mdl-layout__drawer">
    <span class="mdl-layout-title">
      <a href="/" style="text-decoration: none; color: #fff">Cards For Humanity</a>
    </span>
    <nav class="mdl-navigation">
      <a href="/#!/#top" class="mdl-navigation__link">HOME</a>
      <a href ng-click="openNotifications()" class="mdl-navigation__link" ng-show="userName">NOTIFICATIONS
        <span ng-show="friends.gameInvites.length > 0" class="mdl-badge" data-badge="{{friends.gameInvites.length}}"></span>
      </a>
      <a href class="mdl-navigation__link" ng-show="userName" id="requests" ng-click="openFriends()">
      SEND INVITES
      </a>
      <a href="#" id='abandon-game-button' ng-click="abandonGame()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Abandon Game</a>
      <a ng-show="userName" href="/signout" class="mdl-navigation__link mdl-typography--text-uppercase">SIGN OUT</a>
    </nav>
  </div>
  <div class="cfh-content mdl-layout__content" style="margin-top: 60px">
    <div id="app-container" style="margin: 0 auto">
      <div class="game mdl-grid">
        <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet time-remaining mdl-card mdl-shadow--4dp" id="time-card">
              <!--<timer></timer>-->
              <span id="timer-status-round" ng-show="showTime"> Time Remaining</span>
              <div id="time" ng-show="showTime">20</div>
            </div>

            <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-tablet question-box mdl-card mdl-shadow--4dp">
              <!--<question></question>-->
              <div id="question-container-inner">
                <div class="card longBlack">
                  <span id="question" ng-show="showQuestion">Can you guess who amongst this men is not the president of the world ?
                  </span>

                  <div id="find-players" ng-show="true">
                    <div id="finding-players" ng-show="awaitingPlayers">Finding Players</div>
                    <div id="player-count-container" ng-show="awaitingPlayers">
                      <div id="player-count">{{playerCount}} / 12 </div>
                      <!--<div id="the-word-players"> Players </div>-->
                    </div>
                    <div id="loading-container" ng-show="awaitingPlayers">
                      <!--<div id="loading-gif"><img ng-src="../img/loader.gif"/></div>-->
                      <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate is-active">
                      </div>
                    </div>
                    <div class="start-game-container">
                      <button id="start-game-button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button-default" ng-show="showStartButton">
                      Start with 3 players
                      </button>
                    </div>
                  </div>
                  <!-- Game Over Stuff -->
                </div>
              </div>
              <!-- end questions -->
            </div>

            <div class="mdl-cell mdl-cell--12-col answer-box">
              <div class="mdl-card mdl-shadow--4dp game-cards card-for-game">
                <!--<answers></answers>-->
                <div ng-cloak id="cards-container" ng-show="showQuestion">
                  <div id="cards" class='hand mdl-grid'>
                    <div ng-style="{'cursor':'pointer'}" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col  mdl-cell--4-col-phone mdl-cell--4-col-tablet" id='answers' style="padding: 10px;border-radius:5px;min-height:217px;">
                      <div class="the-card">
                        <div class="transbox">
                          <p>Stephen Bayo</p>
                        </div>
                      </div>
                    </div>

                    <div ng-style="{'cursor':'pointer'}" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col  mdl-cell--4-col-phone mdl-cell--4-col-tablet" id='answers' style="padding: 10px;border-radius:5px;min-height:217px;">
                      <div class="the-card">
                        <div class="transbox">
                          <p>Banwo Victor</p>
                        </div>
                      </div>
                    </div>

                    <div ng-style="{'cursor':'pointer'}" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col  mdl-cell--4-col-phone mdl-cell--4-col-tablet" id='answers' style="padding: 10px;border-radius:5px;min-height:217px;">
                      <div class="the-card">
                        <div class="transbox">
                          <p>Oreoluwa Olaniran</p>
                        </div>
                      </div>
                    </div>

                    <div ng-style="{'cursor':'pointer'}" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col  mdl-cell--4-col-phone mdl-cell--4-col-tablet" id='answers' style="padding: 10px;border-radius:5px;min-height:217px;">
                      <div class="the-card">
                        <div class="transbox">
                          <p>Raphael Akinseye</p>
                        </div>
                      </div>
                    </div>

                    <div ng-style="{'cursor':'pointer'}" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col  mdl-cell--4-col-phone mdl-cell--4-col-tablet" id='answers' style="padding: 10px;border-radius:5px;min-height:217px;">
                      <div class="the-card">
                        <div class="transbox">
                          <p>Olawale Enogwe</p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div ng-cloak id="cards-container" ng-show="showQuestion">
                  <div id="cards" class='hand mdl-grid'>
                    <div ng-style="{'cursor':'pointer'}" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col  mdl-cell--4-col-phone mdl-cell--4-col-tablet" id='answers' style="padding: 10px;border-radius:5px;min-height:217px;">
                      <div class="the-card">
                        <div class="transbox">
                          <p>Azeez Akpan</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="game-end-container" ng-show="gameEnd">
                  <div id="inner-info-exit">
                    <div class="game-end-answer-text" ng-show="game.state ==='game dissolved' && game.gameWinner === -1" class="mdl-cell mdl-cell--12-col" style="padding: 20px">
                      <h2>What would you like to do now?</h2>
                      You might consider donating to charity to atone for the horrifying answers you've submitted. Donating will also place a lovely crown on your avatar's head.
                    </div>
                    <div class="game-end-answer-text" ng-show="game.state === 'game ended' || game.gameWinner !== -1" class="mdl-grid">
                      <div class="mdl-cell mdl-cell--12-col">
                        <h2>What would you like to do now?</h2>
                        <div id='inner-text-container' class="mdl-grid">
                          <div class="mdl-cell mdl-cell--6-col">
                            <p>Help yourself to another game or help a child in need? Donating will also place a lovely crown on your avatar's head.</p>
                            <a href>
                              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button-default" id="join-new-game">
                          Join a New Game
                          </button>
                            </a>
                            <a href>
                              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="return-to-lobby">
                          Return to Lobby
                          </button>
                            </a>
                          </div>
                          <div class="mdl-cell mdl-cell--6-col">
                            <div id="charity-widget-container">
                              <!-- This is real -->
                              <a href id="crowdriseStaticLink-fundraiser-121142" title="Fundraising Websites on Crowdrise">Fundraising Websites - Crowdrise</a>
                              <script type="text/javascript" src="https://www.crowdrise.com/widgets/donate/fundraiser/121142/?callback=userDonationCb"></script>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- end answers here -->
              </div>
            </div>
          </div>
        </div>

        <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone players">
          <!--<player></player>-->

          <div id="player-container" class="player mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp" style="padding: 7px;min-height: 75px;">
            <div class="mdl-card__title" style="height:30px; margin-top: -7px;">
              <h2 style="margin-right: 12px;font-size: 14px; font-weight: bold">Super Chick</h2>
              <span ng-show="showCzar" style="background-color:#fff;padding:3px;margin-right: 12px;" id="is-czar">CZAR</span>
              <span id="player-star">
                <img src="../img/11.png" width="25" height="25"/>
              </span>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <span id="player-score" style="color: #000;font-size: 20px;font-weight: bold;">
                {{playerScore}}/5
              </span>
              <span ng-show="isPremium($index)">
                <img ng-src="img/king.png" id="king">
              </span>
              <img ng-src="../img/chosen/jennifer.gif" width="35" height="35" style="float: right; margin-top: -5px" id="player-avatar" />
            </div>
          </div>

          <div id="player-container" ng-show="showOtherPlayers" class="player mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp" style="padding: 7px;min-height: 75px;">
            <div class="mdl-card__title" style="height:30px; margin-top: -7px;">
              <h2 style="margin-right: 12px;font-size: 14px; font-weight: bold"> Funeral Flapjack</h2>
              <span ng-hide="showCzar" style="background-color:#fff;padding:3px;margin-right: 12px;" id="is-czar">CZAR</span>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <span id="player-score" style="color: #000;font-size: 20px;font-weight: bold;">
                0/5
              </span>
              <span ng-show="isPremium($index)">
                <img ng-src="img/king.png" id="king">
              </span>
              <img ng-src="../img/chosen/andina.gif" width="35" height="35" style="float: right; margin-top: -5px" id="player-avatar" />
            </div>
          </div>

          <div id="player-container" ng-show="showOtherPlayers" class="player mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp" style="padding: 7px;min-height: 75px;">
            <div class="mdl-card__title" style="height:30px; margin-top: -7px;">
              <h2 style="margin-right: 12px;font-size: 14px; font-weight: bold">The Spleen</h2>
              <span ng-hide="showCzar" style="background-color:#fff;padding:3px;margin-right: 12px;" id="is-czar">CZAR</span>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <span id="player-score" style="color: #000;font-size: 20px;font-weight: bold;">
                0/5
              </span>
              <span ng-show="isPremium($index)">
                <img ng-src="img/king.png" id="king">
              </span>
              <img ng-src="../img/chosen/eduardo.gif" width="35" height="35" style="float: right; margin-top: -5px" id="player-avatar" />
            </div>
          </div>

          <!-- End of players -->
        </div>

      </div>
      <div class="chatpanel" id="chat">
        <div class="panel-heading">
          <i class="material-icons">forum</i><small class="message_notification" ng-show="chat.unreadMessageCount > 0"></small>
          <a href="" class="retract_button" id="chat_retract"><i class="material-icons">{{expandChat}}</i></a>
        </div>
        <div ng-show="showChatBody">
          <div id="results" class="chatthread">
            <ul class="demo-list-item mdl-list">
              <li class="message">
                <div class="chat_body">
                  <span class="mdl-list__item-primary-content">
                    <strong class="username">Urgent Drip</strong>
                    <small class="text-muted time-content">07:45</small></b></span>
                  <p class="message_content">Hello world, how are we doing today ?</p>
                </div>
              </li>
              <li class="message">
                <div class="chat_body">
                  <span class="mdl-list__item-primary-content">
                    <strong class="username">Toe Nail</strong>
                    <small class="text-muted time-content">07:47</small></b></span>
                  <p class="message_content">Real good, about to go bad on this one. Yahooo !</p>
                </div>
              </li>
            </ul>
          </div>
          <div>
            <div class="chatinput">
              <input id="text" type="text" class="mdl-textfield__input chat_message" placeholder="Enter Message" />
              <a class="send_icon" href=""><i class="material-icons">send</i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>