<div ng-show="gamelogshow">
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">
          GAME TIME
        </th>
        <th class="mdl-data-table__cell--non-numeric">
          FRIENDS PLAYED
        </th>
        <th class="mdl-data-table__cell--non-numeric">
          NO. OF ROUNDS
        </th>
        <th class="mdl-data-table__cell--non-numeric">
          WINNER
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="toDisplay in allGames">
        <td class="mdl-data-table__cell--non-numeric">
          {{toDisplay.gamedate}}
        </td>
        <td class="mdl-data-table__cell--non-numeric">
          <a ng-click="displayfriends = !displayfriends">
            {{toDisplay.players.length}} players...
          </a>
          <table ng-show='displayfriends'>
            <tr ng-repeat="name in toDisplay.players">
              <td class="mdl-data-table__cell--non-numeric">
                {{name}}
              </td>
            </tr>
          </table>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
          {{toDisplay.rounds}}
        </td>
        <td class="mdl-data-table__cell--non-numeric">
          {{toDisplay.winner}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>