<div id="player-container" class="player mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp" ng-repeat="player in game.players" style="padding: 7px;min-height: 75px;">
  <div class="mdl-card__title" style="height:30px; margin-top: -7px;">
    <span ng-show="isPlayer($index)" id="player-star">
      <img src="../img/11.png" width="25" height="25"/>
    </span>
    <h2 style="margin-right: 12px;font-size: 14px; font-weight: bold"> {{player.username | upperFirstLetter}}</h2>
    <span ng-show="currentCzar($index)" style="float: right;margin-right:7px;background-color:#46B6AC;color:#fff !important,padding:5px;font-size:12px;">CZAR</span>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <span id="player-score" style="color: #000;font-size: 20px;font-weight: bold;">
      {{player.points}}/{{game.pointLimit}}
    </span>
    <span ng-show="isPremium($index)">
      <img ng-src="img/king.png" id="king">
    </span>
    <img ng-src="{{player.avatar}}" width="35" height="35" style="float: right; margin-top: -5px" />
  </div>
</div>