<div id="player-container" class="player mdl-cell mdl-cell--9-col mdl-card mdl-shadow--2dp" ng-repeat="player in game.players" style="background-color:{{colors[player.color]}}">
  <div id ="above-czar-container">
    <div id="avatar_">
      <span ng-show="isPremium($index)">
        <img ng-src="img/king.png" id="king">
      </span>
      
    </div>
    <div id="player-container-inner">
      <div id="player-name"> <img ng-src="{{player.avatar}}"/> {{player.username | upperFirstLetter}}
          <span id="player-score">
            {{player.points}}/{{game.pointLimit}}
          </span>
          </h6>
      </div>
      <!--<span id="player-score">{{player.points}}/{{game.pointLimit}}</span>-->
      <div ng-show="isPlayer($index)" id="player-star">
        <img src="../img/11.png"/>
      </div>

        <div class="player-czar" id="czar-container" ng-show="currentCzar($index)">
    <span id='the-czar'>CZAR</span>
  </div>
    </div>
  </div>

</div>

