<div class="cfh-header mdl-layout__header mdl-layout__header--scroll">
  <div class="mdl-layout__header-row"><span class="cfh-title mdl-layout-title text-logo">Cards For Humanity</span>
    <!-- Add spacer, to align navigation to the right in desktop-->
    <div class="cfh-header-spacer mdl-layout-spacer"></div>
    <!-- Navigation-->
    <div class="cfh-navigation-container">
      <nav class="cfh-navigation mdl-navigation">
        <a href="/#!/#top" class="mdl-navigation__link mdl-typography--text-uppercase">HOME</a>
        <a href="/#!/#how" onClick="scroll(0,742);" class="mdl-navigation__link mdl-typography--text-uppercase">HOW TO PLAY</a>
      </nav>
    </div>
    <span class="android-mobile-title mdl-layout-title text-logo-mobile">Cards For Humanity</span>
  </div>
</div>

<section class="play-with">
  <main class="mdl-layout__content">
    <div class="play-with-card">
      <a href="/#!/app" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"> Play With Strangers </a>
      <a href="/#!/app?custom" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button-default"> Play With Friends </a>
    </div>
  </main>
</section>