
<!-- Signup form here -->
<div class="mdl-layout">
  <main class='mdl-layout__content'>
    
    <div class="signup-wrapper">
      <div class="sign-up-title">
        <h3> Sign in with:</h3>
      </div>
      <div class="social-buttons">
        <a href="http:/auth/facebook"><img class="login-item" src="http://cfh.io/img/icons/facebook.png"></a>
        <a href="/auth/github"><img class="login-item" src="http://cfh.io/img/icons/github.png"></a>
        <a href="/auth/twitter"><img class="login-item" src="http://cfh.io/img/icons/twitter.png"></a>
        <a href="/auth/google"><img class="login-item" src="http://cfh.io/img/icons/google.png"></a>
      </div>
   
      </div>
        <div class="mdl-card form-wrapper">
       <h5> Sign in </h5>   
          
   <form action="/users/session" method="post">
            
   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="email" id="email" name="email"/>
  <label class="mdl-textfield__label" for="email">Email</label>
	<span class="mdl-textfield__error">Valid email only</span>
   </div>
     <br />
            
             
   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="password" id="password" name="password"/>
  <label class="mdl-textfield__label" for="password">Password</label>
   </div>     
     <br />

     <!-- Raised button with ripple , class "mdl-js-ripple-effect" -->
<input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-button--accent submit-btn" value="Login"/>
            
</form>
          
      </div>
    </div>
  
  </main>
</div>
<script type='text/javascript', src='//code.getmdl.io/1.2.1/material.min.js'></script>

          