<span id="timer-status-round" ng-hide="gameState.winnerChosen || gameState.awaitingCzar || game.state === 'waiting for czar to draw cards'"> Time Remaining</span>
<span id="timer-status-czar-choosing" ng-show="gameState.winnerChosen"> Next Round In</span>
<span id="timer-status-czar-choosing" ng-show="gameState.awaitingCzar"> Czar Choosing</span>
<span id="timer-status-czar-choosing" ng-show="game.state === 'waiting for czar to draw cards'"> Czar Drawing Cards</span>
<div id="time" ng-bind="game.time"></div>