.signup-wrapper {
  border-radius: 2px;
  margin: 0 auto;
  float: none;
  text-align: center;
}

.social-buttons {
  margin: 0 auto;
  float: none;
}

.form-wrapper {
  background-color: #fafafa;
  padding: 15px 0 50px 0;
  min-width: 500px;
  text-align: center;
  margin: 0 auto;
  float: none;
  border-radius: 2px;
  padding-top: 20px;
}

form div {
  display: block;
}

.avatar-list li {
  display: inline-block;
}

.img-thumbnail {
  width: 10%;
  cursor: pointer;
}

.form-wrapper {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.social-buttons img {
  height: 50px;
  width: 50px;
}

.avatar-list {
  padding: 15px;
  text-align: center;
}

.avatar-list img {
  height: 160px;
  width: 160px;
}

input {
  outline: none;
}

.mdl-textfield__label:after {
  background-color: #46B6AC;
}