
.play-with {
  display: inline-flex;
  margin: 0 auto;
}
.play-with {
  padding-top: 20%;
}

.play-with .mdl-card {
    background-color: transparent;
}
.play-with a {
  display: block;
  width: 70vw;
  padding: 20px;
  margin: 5px
  }


.button-default {
  background-color: #46B6AC;
  color: #FFF;
}

.forms {
  padding-top: 10%;
}


.button-default:hover {
  background-color: #46B6AD;
  color: #FFF;
}


.card-for-game {
  width: 100%;
  padding: 30px;
}

.game-cards {
  min-height: 300px;
}

.player {
  height: 40px !important;
}
.player img{
  width: 50px;
  height: 50px;
}

.mdl-grid.mdl-cell.mdl-cell--9-col.big {
    padding: 0;
    margin: 0;
}


.players {
  height: 70vh !important;
}
.player-czar {
  background-color: rgba(12,12,12,0.2);
}
.question-box, .answer-box {
  color: #000;
  background-color: #000;
}

#app-container {
  background-color: transparent;
}
#time {
  margin: 0 auto;
  left: 30%;
  font-family: 'Times New Roman', Times, serif, cursive;
  font-size: 120px;
  position: absolute;
  bottom: 40%;
}

#start-game-button {
  margin-top: 15px;
}

#finding-players, #lobby-how-to-play {
  font-size: 28px;
}
#player-count {
  font-size: 18px;
  margin-top: 10px;
}

.start-game-container {
  padding-top: 10px;
}